<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robot.mybatis.mapper.FlowElementTMapper">
  <resultMap id="BaseResultMap" type="com.robot.pojo.FlowElementT">
    <result column="id" jdbcType="DECIMAL" property="id" />
    <result column="flow_element_name" jdbcType="VARCHAR" property="flowElementName" />
    <result column="shared_status" jdbcType="BIT" property="sharedStatus" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="subflow_id" jdbcType="DECIMAL" property="subflowId" />
    <result column="create_by" jdbcType="DECIMAL" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="DECIMAL" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remove" jdbcType="BIT" property="remove" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, flow_element_name, shared_status, weight, subflow_id, create_by, create_time, 
    update_by, update_time, remove
  </sql>
  <select id="selectByExample" parameterType="com.robot.pojo.FlowElementTExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from flow_element_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.robot.pojo.FlowElementTExample">
    delete from flow_element_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.robot.pojo.FlowElementT">
    insert into flow_element_t (id, flow_element_name, shared_status, 
      weight, subflow_id, create_by, 
      create_time, update_by, update_time, 
      remove)
    values (#{id,jdbcType=DECIMAL}, #{flowElementName,jdbcType=VARCHAR}, #{sharedStatus,jdbcType=BIT}, 
      #{weight,jdbcType=INTEGER}, #{subflowId,jdbcType=DECIMAL}, #{createBy,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remove,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.robot.pojo.FlowElementT">
    insert into flow_element_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="flowElementName != null">
        flow_element_name,
      </if>
      <if test="sharedStatus != null">
        shared_status,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="subflowId != null">
        subflow_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remove != null">
        remove,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="flowElementName != null">
        #{flowElementName,jdbcType=VARCHAR},
      </if>
      <if test="sharedStatus != null">
        #{sharedStatus,jdbcType=BIT},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="subflowId != null">
        #{subflowId,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remove != null">
        #{remove,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.robot.pojo.FlowElementTExample" resultType="java.lang.Long">
    select count(*) from flow_element_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update flow_element_t
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.flowElementName != null">
        flow_element_name = #{record.flowElementName,jdbcType=VARCHAR},
      </if>
      <if test="record.sharedStatus != null">
        shared_status = #{record.sharedStatus,jdbcType=BIT},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.subflowId != null">
        subflow_id = #{record.subflowId,jdbcType=DECIMAL},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remove != null">
        remove = #{record.remove,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update flow_element_t
    set id = #{record.id,jdbcType=DECIMAL},
      flow_element_name = #{record.flowElementName,jdbcType=VARCHAR},
      shared_status = #{record.sharedStatus,jdbcType=BIT},
      weight = #{record.weight,jdbcType=INTEGER},
      subflow_id = #{record.subflowId,jdbcType=DECIMAL},
      create_by = #{record.createBy,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=DECIMAL},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remove = #{record.remove,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>